@{
    ViewData["Title"] = "Home Page";
    //var propertyCollection = (IDictionary<String, Object>)Model;
}

<div class="text-center">
    <h1 class="display-4">Hello Kubernetes</h1>
    <p>@Model</p>
    @*@foreach(var attr in propertyCollection)
    {
        <p>@attr.Key: @attr.Value</p>
    }*@
</div>
